<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.santosh.spring.Triangle">
		<constructor-arg type="java.lang.String" value="Equilateral" />
		<constructor-arg type="int" value="20" />
	</bean>

	<bean id="triangleNew" class="com.santosh.spring.Triangle2">
		<property name="points">
			<list>
				<ref bean="zeroPoint" />
				<ref bean="point1" />
				<ref bean="point2" />
			</list>
		</property>
	</bean>

	<bean id="triangle3" class="com.santosh.spring.Triangle3">
		<property name="pointA">
			<ref bean="zeroPoint" />
		</property>
		<property name="pointB">
			<ref bean="point1" />
		</property>
		<property name="pointC">
			<ref bean="point2" />
		</property>
	</bean>

	<bean id="zeroPoint" class="com.santosh.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="point1" class="com.santosh.spring.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	<bean id="point2" class="com.santosh.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>
	<alias name="triangleNew" alias="triangle-new" />
</beans>